# Parcial 1

Jose Julian Sanabria Mejia <br> Cod: 202224837 <br> jj.sanabria@uniandes.edu.co

MINE-4101: Ciencia de Dato Aplicada <br> Univerisdad de los Andes

Dataset: XXXXXXXXXX.csv

Al entregar la solución de este parcial, yo, Julian Sanabria Mejía con código 202224837 me comprometo a no
conversar durante el desarrollo de este examen con ninguna persona que no sea el profesor del curso, sobre
aspectos relacionados con el parcial; tampoco utilizaré algún medio de comunicación por voz, texto o
intercambio de archivos, para consultar o compartir con otros, información sobre el tema del parcial. Soy
consciente y acepto las consecuencias que acarreará para mi desempeño académico cometer fraude en este
parcial

In [4]:
# Importar librerías
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import Ridge

import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
# Configuración de Panadas para extender el número de filas y columnas a visualizar
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)

## Cargo y reviso data

In [6]:
# Carga del archivo CSV como DataFrame de Pandas
df = pd.read_csv('./data/airbnb_train_sample.csv')

In [8]:
# Describe las dimensiones del DataFrame
df.shape

(10, 16)

In [9]:
# Describe las columnas y su tipo del DataFrame cargado
df.dtypes

id                       int64
neighbourhood group     object
neighbourhood           object
lat                    float64
long                   float64
country                 object
instant_bookable          bool
cancellation_policy     object
room type               object
construction year      float64
price                   object
service fee             object
minimum nights         float64
availability 365       float64
number of reviews      float64
review rate number     float64
dtype: object

In [10]:
df

,id,neighbourhood group,neighbourhood,lat,long,country,instant_bookable,cancellation_policy,room type,construction year,price,service fee,minimum nights,availability 365,number of reviews,review rate number
0,31652329,Queens,St. Albans,40.68935,-73.77592,United States,False,strict,Private room,2004.0,$ 566,$ 113,1.0,363.0,27.0,3.0
1,47617665,Manhattan,Morningside Heights,40.80752,-73.96713,United States,False,flexible,Entire home/apt,2011.0,$ 267,$ 53,7.0,393.0,5.0,4.0
2,30443897,Queens,Corona,40.74942,-73.85123,United States,False,flexible,Private room,2015.0,$ 781,$ 156,1.0,65.0,51.0,3.0
3,34527603,Manhattan,Harlem,40.81080,-73.93952,United States,False,flexible,Private room,2020.0,$ 982,$ 196,2.0,122.0,44.0,2.0
4,36350193,Brooklyn,Bushwick,40.69985,-73.93358,United States,True,strict,Private room,2021.0,$ 901,$ 180,2.0,178.0,4.0,3.0
5,29784451,Queens,Richmond Hill,40.68420,-73.82864,United States,False,moderate,Entire home/apt,2004.0,$ 960,$ 192,1.0,363.0,4.0,3.0
6,15126961,Queens,Astoria,40.76972,-73.92662,United States,False,moderate,Private room,2004.0,"$ 1,19",$ 237,1.0,250.0,19.0,5.0
7,29275230,Queens,Ridgewood,40.70529,-73.91332,United States,True,moderate,Entire home/apt,2009.0,$ 652,$ 130,1.0,31.0,13.0,5.0
8,15864281,Manhattan,East Village,40.72535,-73.98244,United States,False,strict,Private room,2016.0,$ 242,$ 48,3.0,0.0,51.0,3.0
9,11722584,Brooklyn,Prospect Heights,40.67419,-73.96423,United States,True,strict,Private room,2015.0,"$ 1,15",$ 230,3.0,0.0,4.0,3.0

## Limpieza y preparación de datos

In [12]:
# Crear una expresion lambda para transformar Float a Int
intToFloat = lambda x: int(x)

In [14]:
# Aplicar lamda a todos los valores en la columna Date
df["construction year"] = df["construction year"].apply(intToFloat)

In [24]:
# Aplicar lamda a todos los valores en la columna minimum nights
df["minimum nights"] = df["minimum nights"].apply(intToFloat)

In [25]:
# Aplicar lamda a todos los valores en la columna availability 365
df["availability 365"] = df["availability 365"].apply(intToFloat)

In [26]:
# Aplicar lamda a todos los valores en la columna number of reviews
df["number of reviews"] = df["number of reviews"].apply(intToFloat)

In [27]:
# Aplicar lamda a todos los valores en la columna review rate number
df["review rate number"] = df["review rate number"].apply(intToFloat)

In [19]:
# Crear una expresion lambda para transformar String (precio) a Float
priceToFloat = lambda x: float(str(x).replace("$", "").replace(",", "."))

In [21]:
# Aplicar lamda a todos los valores en la columna price
df["price"] = df["price"].apply(priceToFloat)

In [22]:
# Aplicar lamda a todos los valores en la columna price
df["service fee"] = df["service fee"].apply(priceToFloat)

In [28]:
# Describe las columnas y su tipo del DataFrame cargado
df.dtypes

id                       int64
neighbourhood group     object
neighbourhood           object
lat                    float64
long                   float64
country                 object
instant_bookable          bool
cancellation_policy     object
room type               object
construction year        int64
price                  float64
service fee            float64
minimum nights           int64
availability 365         int64
number of reviews        int64
review rate number       int64
dtype: object

In [29]:
df

,id,neighbourhood group,neighbourhood,lat,long,country,instant_bookable,cancellation_policy,room type,construction year,price,service fee,minimum nights,availability 365,number of reviews,review rate number
0,31652329,Queens,St. Albans,40.68935,-73.77592,United States,False,strict,Private room,2004,566.00,113.0,1,363,27,3
1,47617665,Manhattan,Morningside Heights,40.80752,-73.96713,United States,False,flexible,Entire home/apt,2011,267.00,53.0,7,393,5,4
2,30443897,Queens,Corona,40.74942,-73.85123,United States,False,flexible,Private room,2015,781.00,156.0,1,65,51,3
3,34527603,Manhattan,Harlem,40.81080,-73.93952,United States,False,flexible,Private room,2020,982.00,196.0,2,122,44,2
4,36350193,Brooklyn,Bushwick,40.69985,-73.93358,United States,True,strict,Private room,2021,901.00,180.0,2,178,4,3
5,29784451,Queens,Richmond Hill,40.68420,-73.82864,United States,False,moderate,Entire home/apt,2004,960.00,192.0,1,363,4,3
6,15126961,Queens,Astoria,40.76972,-73.92662,United States,False,moderate,Private room,2004,1.19,237.0,1,250,19,5
7,29275230,Queens,Ridgewood,40.70529,-73.91332,United States,True,moderate,Entire home/apt,2009,652.00,130.0,1,31,13,5
8,15864281,Manhattan,East Village,40.72535,-73.98244,United States,False,strict,Private room,2016,242.00,48.0,3,0,51,3
9,11722584,Brooklyn,Prospect Heights,40.67419,-73.96423,United States,True,strict,Private room,2015,1.15,230.0,3,0,4,3